{erl_opts, [no_debug_info, nowarn_unused_result]}.

{deps, [
    {cowboy, "2.12.0"},
    jsx
]}.

{project_app_dirs, [
    "apps/giraffe", "apps/giraffe/fable_modules/*",
    "apps/giraffe_app", "apps/giraffe_app/fable_modules/*"
]}.

%% NOTE: This config is copied into build/ at build time.
%% Paths are relative to build/ where rebar3 runs.
